#hors {
  .hors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 40px;
  }

  button {
    margin: 70px 0;
    width: 245px;
    height: 50px;
    background: #2263FF;
    font-size: 24px;
    color: white;
    margin-left: 900px;
  }
}


@media (max-width: 1024px) {
  #hors {
    .hors {
      justify-content: space-around;
    }

    button {
      margin-left: 380px;
      margin-top: 100px;
    }
  }
}


@media (max-width: 768px) {
  #detail {
    .detail {
      &__title {
        width: 320px;

        &__img {
          img {
            width: 264px;
            height: 304px;
          }
        }

        &__user {
          img {
            width: 60px;
          }

          &__text {
            margin-right: 20px;
          }
        }
      }
    }
  }
  #hors {
    button {
      margin-left: 270px;
    }
  }
}

@media (max-width: 576px) {
  #detail {
    .detail {
      &__title {
        width: 320px;

        &__img {
          img {
            width: 264px;
            height: 304px;
          }
        }

        &__user {
          img {
            width: 60px;
          }

          &__text {
            margin-right: 20px;
          }
        }
      }
    }
  }
  #hors {
    button {
      margin-left: 170px;
    }
  }
}

@media (max-width: 425px) {
  #detail {
    .detail {
      &__title {
        height: 530px !important;

        &__img {
          h3 {
            padding: 5px 0;
          }

          img {
            width: 290px !important;
            height: 318px !important;
            object-fit: cover !important;
          }
        }

        &__user {
          img {
            width: 50px;
          }

          &__text {
            margin-right: 17px;
          }
        }
      }
    }
  }
  #hors {
    button {
      margin-left: 90px;
    }
  }
}


@media (max-width: 375px) {
  #detail {
    .detail {
      &__title {
        width: 290px !important;
        height: 450px !important;

        &__img {
          h3 {
            padding: 6px 0 !important;
          }

          img {
            width: 250px !important;
            height: 258px !important;
            object-fit: cover !important;
          }
        }

        &__user {
          margin-right: 17px !important;

          img {
            width: 50px;
          }

          &__text {

          }
        }
      }
    }
  }
  #hors {
    button {
      margin-left: 85px;
      width: 218px;
      height: 46px;
      font-size: 20px;
    }
  }
}


@media (max-width: 320px) {
  #hors {
    button {
      margin-left: 62px;
      width: 186px;
      height: 43px;
      font-size: 15px;
    }
  }
}