#hero {
  background: url("../../img/Frame1.png") no-repeat center/cover;
  height: 220px;
  background-size: 100%;

  .hero {
    margin-top: 20px;
    h1 {
      font-weight: 700;
      color: white;
      font-size: 46px;
    }
    h2 {
      margin-top: 10px;
      font-size: 24px;
      color: #3f485fff;
      font-weight: 400;
    }
  }
}
