#footer {
  background: #2263FF;
  height: 302px;

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: 30px;

    &__title {
  h1{
    color: white;
  }
    }

    &__contact {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__info {
        h2 {
          color: #7E8085;
        }

        h3 {
          color: white;
        }
      }
    }
  }
}